<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">
    <link rel="stylesheet" href="/css/burger_style.css">
    <title>Burger App</title>
</head>

<body>
	<div class="jumbotron">
    	<h1 class="text-center">Eat the Burger!</h1> 
    	<img class="center-block" src="/img/burger.png" alt="burger_pic">
		<div class="container">
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<div class="form">
   		 				<div class="form-group">
    						<label for="burger_input"></label>
    						<textarea class="form-control" id="burger_input" rows="3"></textarea>
  		  				</div>
    				</div>
  				</div>
  				<div class="col-sm-4"></div>
  			</div>

  			<div class="row">
  				<div class="col-sm-4"></div>
  				<div class="col-sm-4">
  					<button type="button" class="btn btn-primary center-block" id="submit">Submit Burger</button>
  				</div>
  				<div class="col-sm-4"></div>
  			</div>
  		</div>
  	</div>
    {{{body}}}
    <script
  		src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>
    <script type="text/javascript">
    	$('#submit').on('click', function() {
    		var newBurger = {
    			burger_name: $('#burger_input').val().trim(),
    		};

    		$.post('/', newBurger, function(status){
    			if (status === 'success') {
    				window.location.href='/';	
    			}
    		});
    	});
    </script>
</body>

</html>
