<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Burger App</title>
</head>

<body>
	<img src="../../public/assets/img/burger.png" alt="burger_pic">
    <h1>Eat the Burger!</h1> {{{body}}}
    <!-- not sure if they want the js in this or in a external js file -->
    <script type="text/javascript"></script>
</body>

</html>
